<hr class="p-0 m-0">
<div class="row py-2" data-id="{{ supplier_id }}">
  <div class="col flex-grow-1 my-auto">

    {% assign created_at  = supplier_id | generation_time %}
    {% assign now         = "now" | in_time_zone %}

    <a href="{{ 'suppliers__show' | path_for: id: supplier_id }}">{{ supplier_name | strip_html }}</a> &#183; {{ l.created }} <span title="{{ created_at | i18n_l: 'wday_date_hours_minutes' | capitalize }}">{{ created_at | time_distance_in_words: now }} {{ l.ago }}</span>

  </div>
  <div class="col-auto px-1 text-end my-auto">
    <a class="btn btn-outline-primary" href="{{ 'suppliers__scan' | path_for: id: supplier_id }}">{{ l.buttons.scan }}</a>
  </div>
  <div class="col-auto ps-1 text-end my-auto">
    <form action="{{ 'suppliers__destroy' | path_for: id: supplier_id, format: 'js' }}" method="post" data-remote="true">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="{{ l.buttons.destroy }}" class="btn btn-outline-danger">
    </form>
  </div>
</div>